body {
    background: #F3F5FC;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    margin: 0;
    padding: 0;
}

/* Configuración cabecera página principal */

header {
    display: inline-block;
    height: 120px;
}

.logo {
    position: relative;
    left: 40px;
    top: 40px;
}

.logo img {
    margin: 0 15px;
    height: 40px;  
}

h1 {
    font-weight: bold;
    font-size: 20px;
    color: #0A3871;
    text-transform: uppercase;    
}

main {
    display: flex;
    justify-content: space-between;
    height: 80%;
}

.caja-izquierda {
    width: 60%;
}

/* Contenido de la Página principal */
.cuadro-texto {
    outline: none;
    border: none;
    border-radius: 15px;
    width: 50%;
    height: 250px;
    margin: 0 0 0 25%;
    padding: 5px;
    font-size: 30px;
    background: #F3F5FC;
    color: #0A3871;
}

.caja-boton {
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

.caja-izquierda p {
    position: relative;
    top: 250px;
    left: 200px;
}

.encriptar {
    width: 30%;
    margin: 0 10px;
    padding: 25px;
    background-color: #0A3871;
    color: #FFFFFF;
    border-radius: 24px;
    font-size: 25px;
    cursor: pointer;
    transition: 1s all;
}

.encriptar:hover {
    font-size: 27px;
    box-shadow: 0px 24px 32px -8px #0A3871;
}

.desencriptar {
    width: 30%;
    margin: 0 10px;
    padding: 25px;
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 25px;
    cursor: pointer;  
    transition: 1s all;  
}

.desencriptar:hover {
    font-size: 27px;
    box-shadow: 0px 24px 32px -8px #0A3871;
}


.caja-derecha {
    width: 40%;
}

.pantalla {
    padding: 0 25px;
    width: 65%;
    height: 110%;
    border-radius: 32px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.pantalla img {
    margin: 25% 0 0 15%;
}

.pantalla .boton-copiar {
    padding: 0 100%;
    margin-top: 215%; 
}


.boton {
    width: 350px;
    margin: 1.5em -5em;
    padding: 25px 0;
    background-color: #F3F5FC;
    color: #0A3871;
    border-radius: 24px;
    font-size: 25px;
    cursor: pointer;
}

.titulo-pantalla {
    margin-top: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    overflow-wrap: break-word;
}


.texto-pantalla {
    margin-top: 20px;
    text-align: center;
    line-height: 150%;
    font-weight: 400;
    
}

p#textoCopiado.titulo-pantalla{
    width: 400px;
    height: 0px;
}


/* Pie de página */ 
footer { 
    position: absolute;
    bottom: 0%;
    text-align: center;
    background: #0A3871;
    width: 100%;
    padding: 5px;
    color: #FFFFFF;
    font-size: 15px;  
    line-height: 2em;  
    
}

footer a {
    color: #FFFFFF;
    font-size: 36px;
    text-decoration: none;
    font-style: italic;
    margin: 0 10px;
}

footer i:hover {
    font-size: 40px;
    transition: 0.5s all;
}

@media screen and (max-width: 1440px) {
    .logo {
        position: relative;
        left: 5px;
        top: 20px;
    }

    h1 {
        font-size: 15px;
    }

    .pantalla {
        height: 100%;
    }

    .pantalla img {
        width: 75%;
    }

    .cuadro-texto {
        font-size: 20px;
    }

    .encriptar {
        width: 30%;
        margin: 0 10px;
        padding: 25px;
        background-color: #0A3871;
        color: #FFFFFF;
        border-radius: 24px;
        font-size: 18px;
        cursor: pointer;
    }
    
    .encriptar:hover {
        font-size: 20px;
    }

    .desencriptar {
        width: 30%;
        margin: 0 10px;
        padding: 25px;
        background-color: #D8DFE8;
        color: #0A3871;
        border: 1px solid #0A3871;
        border-radius: 24px;
        font-size: 18px;
        cursor: pointer;    
    }
    
    .desencriptar:hover {
        font-size: 20px;
    }

    .boton {
        width: 210px;
    }

    .pantalla .boton-copiar {
        margin: 0 0 0 45%;
        margin-top: 300%; 
    }

    p#textoCopiado.titulo-pantalla{
        width: 240px;
        height: 0px;
        font-size: 18px;
    }    
}

@media screen and (max-width: 720px) {
    .logo {
        position: relative;
        left: 5px;
        top: 20px;
    }

    main {
        display: block;
    }

    .caja-derecha {
        margin: 20px;
    }

    .caja-izquierda {
        margin: 20px;
    }

    .pantalla {
        padding: 0 80%;
        
    }

    .cuadro-texto {
        width: 100%;
    }

    .caja-boton {
        width: 90%;
        margin-left: 30%;
    }

    .encriptar {
        width: 50%;
        margin: 0 10px;
        padding: 0 15px;
        background-color: #0A3871;
        color: #FFFFFF;
        border-radius: 24px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .encriptar:hover {
        font-size: 18px;
    }

    .desencriptar {
        width: 50%;
        margin: 0 10px;
        padding: 15px;
        background-color: #D8DFE8;
        color: #0A3871;
        border: 1px solid #0A3871;
        border-radius: 24px;
        font-size: 16px;
        cursor: pointer;    
    }
    
    .desencriptar:hover {
        font-size: 18px;
    }

    .pantalla img {
        width: 90%;
        
    }

    .titulo-pantalla {
        font-size: 15px;
    }

    .texto-pantalla {
        font-size: 15px;
    }

    p#textoCopiado.titulo-pantalla{
        position: absolute;
        left: 50px;
        width: 420px;
        height: 0px;
        font-size: 16px;
    }    

    footer {
        position: inherit;
    }
}

@media screen and (max-width: 380px) {
    h1 {
        text-align: center;
    }

    .encriptar {
        width: 60%;
        margin: 0 10px;
        padding: 0 30px;
        background-color: #0A3871;
        color: #FFFFFF;
        border-radius: 24px;
        font-size: 12px;
        cursor: pointer;
    }
    
    .encriptar:hover {
        font-size: 13px;
    }


    .desencriptar {
        width: 60%;
        margin: 0 10px;
        padding: 15px;
        background-color: #D8DFE8;
        color: #0A3871;
        border: 1px solid #0A3871;
        border-radius: 24px;
        font-size: 12px;
        cursor: pointer;    
    }
    
    .desencriptar:hover {
        font-size: 13px;
    }

    
}